.bg-fancy-gradient {
    position: absolute;
    inset: 0;
    z-index: 0;
}
  
.bg-fancy-gradient::before,
.bg-fancy-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
}
  
.bg-fancy-gradient::before {
    background: linear-gradient(to bottom left,
      rgba(255, 255, 255),
      rgba(255, 21, 0, 0.3),
      rgba(255, 255, 255)
    );
    animation: gradient 4s ease infinite;
}
  
.bg-fancy-gradient::after {
    background: linear-gradient(to bottom,
      rgb(255, 255, 255),
      transparent,
      rgba(255, 255, 255)
    );
}